@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Outfit, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 1px);
    background-color: var(--Lightgray);
}

.container img {
    border-radius: 0.625rem;
    margin-bottom: 1rem;
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 370px;
    padding: 1.25rem;
    border-radius: 0.625rem;
    background-color: var(--White);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    height: 535px;
}

.container h1 {
    font-weight: 700;
    text-align: center;
    color: var(--Darkblue);
    margin-bottom: 1rem;
    font-size: 25px;
}

.container p {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: var(--Grayishblue);
}